kind: Deployment
image:
  repository: registry.k8s.io/descheduler/descheduler
  tag: ""
  pullPolicy: IfNotPresent
imagePullSecrets:
resources:
  requests:
    cpu: 500m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 256Mi
ports:
  - containerPort: 10258
    protocol: TCP
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
podSecurityContext: {}
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""
commonLabels: {}
suspend: false
deschedulingInterval: 5m
replicas: 1
leaderElection: {}
command:
- "/bin/descheduler"
cmdOptions:
  v: 3
deschedulerPolicyAPIVersion: "descheduler/v1alpha2"
deschedulerPolicy:
  profiles:
    - name: default
      pluginConfig:
        - name: DefaultEvictor
          args:
            podProtections:
              defaultDisabled:
              - "PodsWithLocalStorage"
              extraEnabled:
              - "PodsWithPVC"
        - name: RemoveDuplicates
        - name: RemovePodsHavingTooManyRestarts
          args:
            podRestartThreshold: 100
            includingInitContainers: true
        - name: RemovePodsViolatingNodeAffinity
          args:
            nodeAffinityType:
            - requiredDuringSchedulingIgnoredDuringExecution
        - name: RemovePodsViolatingNodeTaints
        - name: RemovePodsViolatingInterPodAntiAffinity
        - name: RemovePodsViolatingTopologySpreadConstraint
        - name: LowNodeUtilization
          args:
            thresholds:
              cpu: 20
              memory: 20
              pods: 20
            targetThresholds:
              cpu: 50
              memory: 50
              pods: 50
      plugins:
        balance:
          enabled:
            - RemoveDuplicates
            - RemovePodsViolatingTopologySpreadConstraint
            - LowNodeUtilization
        deschedule:
          enabled:
            - RemovePodsHavingTooManyRestarts
            - RemovePodsViolatingNodeTaints
            - RemovePodsViolatingNodeAffinity
            - RemovePodsViolatingInterPodAntiAffinity
priorityClassName: system-cluster-critical
nodeSelector: {}
affinity: {}
topologySpreadConstraints: []
tolerations: []
rbac:
  create: true
serviceAccount:
  create: true
  name:
  annotations: {}
deploymentAnnotations: {}
cronJobAnnotations: {}
cronJobLabels: {}
jobAnnotations: {}
jobLabels: {}
podAnnotations: {}
podLabels: {}
dnsConfig: {}
livenessProbe:
  failureThreshold: 3
  httpGet:
    path: /healthz
    port: 10258
    scheme: HTTPS
  initialDelaySeconds: 5
  periodSeconds: 20
  timeoutSeconds: 5
service:
  enabled: false
  ipFamilyPolicy: ""
  ipFamilies: []
serviceMonitor:
  enabled: false
  additionalLabels: {}
  interval: ""
  insecureSkipVerify: true
  serverName: null
  metricRelabelings: []
  relabelings: []
