skipResources: []
kiali_route_url: ""
additional_display_details:
- annotation: kiali.io/api-spec
  icon_annotation: kiali.io/api-type
  title: API Documentation
auth:
  openid: {}
  openshift: {}
  strategy: ""
chat_ai:    
  default_provider: ""
  enabled: false
  providers: []
  store_config:
    enabled: true
    max_cache_memory_mb: 1024      
    reduce_threshold: 15
    reduce_with_ai: false
clustering:
  autodetect_secrets:
    enabled: true
    label: "kiali.io/multiCluster=true"
  clusters: []
deployment:
  additional_pod_containers_yaml: []
  additional_pod_init_containers_yaml: []
  additional_service_yaml: {}
  affinity:
    node: {}
    pod: {}
    pod_anti: {}
  cluster_wide_access: true
  configmap_annotations: {}
  discovery_selectors: {}
  custom_envs: []
  custom_secrets: []
  dns:
    config: {}
    policy: ""
  extra_labels: {}
  host_aliases: []
  hpa:
    api_version: "autoscaling/v2"
    spec: {}
  image_digest: "" 
  image_name: quay.io/kiali/kiali
  image_pull_policy: "Always"
  image_pull_secrets: []
  image_version: v2.22.0 
  ingress:
    additional_labels: {}
    class_name: "nginx"
    override_yaml:
      metadata: {}
  instance_name: "kiali"
  logger:
    log_format: "text"
    log_level: "info"
    time_field_format: "2006-01-02T15:04:05Z07:00"
    sampler_rate: "1"
  network_policy:
    enabled: true
  node_selector: {}
  pod_annotations:
    proxy.istio.io/config: '{ "holdApplicationUntilProxyStarts": true }'
  pod_labels: {}
  priority_class_name: ""
  probes:
    liveness:
      initial_delay_seconds: 5
      period_seconds: 30
    readiness:
      initial_delay_seconds: 5
      period_seconds: 30
    startup:
      failure_threshold: 6
      initial_delay_seconds: 30
      period_seconds: 10
  remote_cluster_resources_only: false
  replicas: 1
  resources:
    requests:
      cpu: "10m"
      memory: "64Mi"
    limits:
      memory: "1Gi"
  secret_name: "kiali"
  security_context: {}
  service_annotations: {}
  service_type: ""
  tls_config:
    cipher_suites: []
    max_version: ""
    min_version: ""
    source: ""
  tolerations: []
  topology_spread_constraints: []
  version_label: v2.22.0 
  view_only_mode: false
external_services:
  custom_dashboards:
    enabled: true
  istio:
    root_namespace: ""
identity: {}
kiali_feature_flags:
  custom_workload_types: []
  disabled_features: []
  validations:
    ignore: ["KIA1301"]
login_token:
  signing_key: ""
server:
  port: 20001
  observability:
    metrics:
      enabled: true
      port: 9090
  web_root: ""
