redis:
  enabled: true
  auth:
    enabled: false
  master:
    nodeSelector: {}
    disableCommands: []
    affinity: {}
    tolerations: []
  replica:
    replicaCount: 1
    nodeSelector: {}
    disableCommands: []
    affinity: {}
    tolerations: []
  image:
    registry: docker.io
    repository: redis
    tag: 7.0.15
mongodb:
  enabled: true
  volumePermissions:
    enabled: true  
  service:
    nameOverride: appsmith-mongodb
  auth:
    rootUser: root
    rootPassword: password
  replicaCount: 2
  architecture: "replicaset"
  replicaSetName: rs0
  nodeSelector: {}
  affinity: {}
  tolerations: []
  image:
    registry: docker.io
    repository: bitnami/os-shell
    tag: 12-debian-12-r23 
  arbiter:
    nodeSelector: {}
    affinity: {}
    tolerations: []
  hidden:
    nodeSelector: {}
    affinity: {}
    tolerations: []
postgresql:
  enabled: true
  auth:
    username: root
    password: password
    postgresPassword: password
    database: keycloak
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 14.12.0
  primary:
    affinity: {}
    nodeSelector: {}
    tolerations: []
  readReplicas:
    affinity: {}
    nodeSelector: {}
    tolerations: []
externalSecrets:
  enabled: false
  refreshInterval: 1m
  remoteNameSecret: "" 
prometheus:
  enabled: false
  image:
    tag: v0.74.0
global:
  storageClass: ""
  security:
    allowInsecureImages: true
  namespaceOverride: ""
fullnameOverride: ""
containerName: "appsmith"
commonLabels: {}
commonAnnotations: {}
schedulerName: ""
strategyType: RollingUpdate
initContainer: {}
image:
  registry: index.docker.io
  repository: appsmith/appsmith-ee
  pullPolicy: IfNotPresent
  pullSecrets: []
  tag: "latest"
serviceAccount:
  create: true
  name: ""
  annotations: {}
annotations: {}
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
extraVolumes: []
extraVolumeMounts: []
service:
  type: ClusterIP
  port: 80
  nodePort: 8000
  portName: appsmith
  clusterIP: ""
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  annotations: {}
ingress:
  enabled: false
  annotations: {}
  hosts: []
  tls: false
  secrets: []
  certManager: false
  certManagerTls: []
  className: "nginx"
customCAcert:
resources:
  limits: {}
  requests:
     cpu: 500m
     memory: 3000Mi
workload:
  kind: StatefulSet
replicas: 1
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 2
  targetCPUUtilizationPercentage: 5
nodeSelector: {}
tolerations: []
affinity: {}
persistence:
  enabled: true
  storageClass: ""
  annotations: {}
  localStorage: false
  storagePath: /tmp/hostpath_pv
  localCluster: {}
  accessModes:
    - ReadWriteMany
  size: 10Gi
  reclaimPolicy: Retain
  pvNameOverride: ""
  existingClaim: {}
  efs:
    enabled:
    driver:
    volumeHandle:
  volumeClaimTemplates:
    selector: {}
    requests: {}
    dataSource: {}
storageClass:
  enabled: false
  bindingMode: Immediate
  defaultClass: false
  allowVolumeExpansion: true
  reclaimPolicy: Delete
  provisioner: ""
  annotations: {}
  mountOptions: {}
  parameters: {}
podDisruptionBudgets:
  enabled: true
  minAvailable: 1
metrics:
  enabled: false
  port: 2019
keda:
  enabled: false
  pollingInterval: 30
  cooldownPeriod: 60
  minReplicaCount: 1
  maxReplicaCount: 6
  fallback:
    failureThreshold: 3
    replicas: 4
  triggers: []
autoupdate:
  enabled: false
  scheduler: "0 * * * *"
secretName: ""
applicationConfig:
  APPSMITH_OAUTH2_GOOGLE_CLIENT_ID: ""
  APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET: ""
  APPSMITH_OAUTH2_GITHUB_CLIENT_ID: ""
  APPSMITH_OAUTH2_GITHUB_CLIENT_SECRET: ""
  APPSMITH_FORM_LOGIN_DISABLED: ""
  APPSMITH_SIGNUP_DISABLED: ""
  APPSMITH_CLIENT_LOG_LEVEL: ""
  APPSMITH_MAIL_ENABLED: ""
  APPSMITH_MAIL_HOST: ""
  APPSMITH_MAIL_PORT: ""
  APPSMITH_MAIL_USERNAME: ""
  APPSMITH_MAIL_PASSWORD: ""
  APPSMITH_MAIL_FROM: ""
  APPSMITH_REPLY_TO: ""
  APPSMITH_MAIL_SMTP_AUTH: ""
  APPSMITH_MAIL_SMTP_TLS_ENABLED: ""
  APPSMITH_DISABLE_TELEMETRY: ""
  APPSMITH_RECAPTCHA_SITE_KEY: ""
  APPSMITH_RECAPTCHA_SECRET_KEY: ""
  APPSMITH_RECAPTCHA_ENABLED: ""
  APPSMITH_DB_URL: ""
  APPSMITH_REDIS_URL: ""
  APPSMITH_ENCRYPTION_PASSWORD: ""
  APPSMITH_ENCRYPTION_SALT: ""
  APPSMITH_CUSTOM_DOMAIN: ""
  APPSMITH_DISABLE_IFRAME_WIDGET_SANDBOX: "false"
  APPSMITH_LICENSE_KEY: ""
  APPSMITH_KEYCLOAK_DB_DRIVER: ""
  APPSMITH_KEYCLOAK_DB_USERNAME: ""
  APPSMITH_KEYCLOAK_DB_PASSWORD: ""
  APPSMITH_KEYCLOAK_DB_URL: ""