elasticsearchURL: "" # "http://elasticsearch-master:9200"
elasticsearchHosts: "http://elasticsearch-master:9200"

replicas: 1

extraEnvs: []

# Mount Elasticsearch certs
secretMounts:
  - name: elasticsearch-master-certs
    secretName: elasticsearch-master-certs
    path: /usr/share/kibana/config/certs
    subPath: ""  # optional, keep empty to mount the whole secret

image: "docker.elastic.co/kibana/kibana"
imageTag: "7.5.1"
imagePullPolicy: "IfNotPresent"

labels: {}
podAnnotations: {}

resources:
  requests:
    cpu: "100m"
    memory: "500Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

protocol: http
serverHost: "0.0.0.0"
healthCheckPath: "/app/kibana"

kibanaConfig:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts: ["https://elasticsearch-master:9200"]
    elasticsearch.ssl.certificateAuthorities: ["/usr/share/kibana/config/certs/ca.crt"]
    elasticsearch.username: "elastic"
    elasticsearch.password: "DPdm08XcTbsZVsIk"

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
    - ALL
  runAsNonRoot: true
  runAsUser: 1000

serviceAccount: ""

priorityClassName: ""

httpPort: 5601
maxUnavailable: 1

updateStrategy:
  type: "Recreate"

service:
  type: ClusterIP
  port: 5601
  nodePort: ""
  labels: {}
  annotations: {}

ingress:
  enabled: false
  annotations: {}
  path: /
  hosts:
    - chart-example.local
  tls: []

readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 3
  timeoutSeconds: 5

imagePullSecrets: []
nodeSelector: {}
tolerations: []
affinity: {}

nameOverride: ""
fullnameOverride: ""

lifecycle: {}

# --- Add a pre-install hook that waits for Elasticsearch certs ---
hooks:
  preInstall:
    - name: wait-for-elasticsearch-certs
      kind: Job
      spec:
        template:
          spec:
            restartPolicy: OnFailure
            containers:
              - name: wait-for-certs
                image: busybox
                command:
                  - sh
                  - -c
                  - |
                    echo "Waiting for Elasticsearch certs..."
                    while ! kubectl get secret elasticsearch-master-certs -n elastic; do
                      sleep 5
                    done
                    echo "Elasticsearch certs exist, continuing..."
