clusterName: "elasticsearch"
nodeGroup: "master"
image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.5.1"

replicas: 1

extraEnvs:
  - name: "discovery.type"
    value: "single-node"
  - name: "xpack.security.enabled"
    value: "false"
  - name: "bootstrap.memory_lock"
    value: "false"

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

esJavaOpts: "-Xmx1g -Xms1g"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi

readinessProbe:
  initialDelaySeconds: 150
  periodSeconds: 60
  failureThreshold: 10

volumePermissions:
  enabled: true
