replicas: 1

roles: []

esConfig:
  elasticsearch.yml: |
    node.roles: []
esJavaOpts: "-Xms1g -Xmx1g"

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"


sysctlInitContainer:
  enabled: false

readinessProbe:
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 5
  failureThreshold: 6
