image:
  repository: docker.io/bitnamilegacy/elasticsearch
  tag: "7.17.14-debian-11-r0"
  pullPolicy: IfNotPresent

replicas: 1

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi

persistence:
  enabled: true
  size: "10Gi"
