## Bitnami Legacy Image Configuration
image:
  registry: docker.io
  repository: bitnamilegacy/elasticsearch
  tag: 7.17.10

## Standardizing for local Rancher Desktop
global:
  storageClass: "local-path"

# Combine roles to save RAM (1 pod instead of 4+)
master:
  replicaCount: 1
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  heapSize: 1024m

# Disable other roles for local development
data:
  replicaCount: 0
coordinating:
  replicaCount: 0
ingest:
  replicaCount: 0

# Init Container Fix (Busybox for sysctl)
sysctl:
  enabled: true
  image:
    registry: public.ecr.aws
    repository: docker/library/busybox
    tag: latest
  command:
    - /bin/sh
    - -c
    - sysctl -w vm.max_map_count=262144