clusterName: "elasticsearch"
nodeGroup: "master"
replicas: 1

roles:
  - master
  - data
  - ingest
  - ml

image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.5.1"

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

esJavaOpts: "-Xms1g -Xmx1g"

sysctlInitContainer:
  enabled: false

esConfig:
  elasticsearch.yml: |
    discovery.type: single-node
    
minimumMasterNodes: 1 

persistence:
  enabled: true
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    resources:
      requests:
        storage: 30Gi


readinessProbe:
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6

