image:
  repository: docker.io/bitnamilegacy/elasticsearch
  tag: "7.17.14-debian-11-r0"
  pullPolicy: IfNotPresent

replicas: 1

resources:
  limits:
    cpu: "1000m"
    memory: "2Gi"
  requests:
    cpu: "500m"
    memory: "1Gi"

persistence:
  enabled: true
  size: 10Gi
