clusterName: "elasticsearch"
nodeGroup: "master"

# Bitnami specific values
global:
  storageClass: "local-path" # Standard for Rancher Desktop

# THE LEGACY IMAGE FIX
sysctl:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/os-shell
    tag: 12-debian-12-r50
    pullPolicy: IfNotPresent

# Bypassing the 3-node requirement (Single Node Mode)
master:
  replicaCount: 1
  # Bitnami uses this to set discovery.type=single-node
  extraEnvs:
    - name: BITNAMI_DEBUG
      value: "true"
    - name: discovery.type
      value: single-node

# Reducing resources for Rancher Desktop
resources:
  limits:
    memory: 2Gi
  requests:
    memory: 1Gi