replicas: 1
# Lowering resources so they fit on smaller nodes
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "1000m"
    memory: "512Mi"

# If Init Container is failing, try forcing a standard image
extraInitContainers:
  - name: sysctl
    image: docker.io/library/elasticsearch:8.5.1
    command: ['sysctl', '-w', 'vm.max_map_count=262144']
    securityContext:
      privileged: true

persistence:
  enabled: false

# Ensure you have a storage class defined
volumeClaimTemplate:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: "standard" # Change this to your provider's class (e.g., gp2, longhorn)
  resources:
    requests:
      storage: 1Gi