replicas: 1

# Image details for Bitnami Legacy
image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "7.16.2"
imagePullPolicy: "IfNotPresent"

# Bitnami images run as non-root (1001)
podSecurityContext:
  fsGroup: 1001
containerSecurityContext:
  runAsUser: 1001
resources:
  requests:
    cpu: "1000m"
    memory: "1Gi" 
  limits:
    cpu: "1000m"
    memory: "2Gi"

# Java Heap settings (Required for Bitnami images)
esJavaOpts: "-Xmx512m -Xms512m"

extraInitContainers:
  - name: sysctl
    image: bitnamilegacy/elasticsearch:8.5.1
    command: ['sysctl', '-w', 'vm.max_map_count=262144']
    securityContext:
      privileged: true

persistence:
  enabled: false # Setting to false as per your request