replicas: 1

# Bitnami legacy ES image
image:
  repository: "bitnamilegacy/elasticsearch"
  tag: 7.17.10
  pullPolicy: IfNotPresent

# Resources
resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

# Java Heap (50% of memory)
esJavaOpts: "-Xms512m -Xmx512m"

# Cluster single-node
extraEnvVars:
  - name: discovery.type
    value: single-node

# Anti-affinity (soft for single-node)
antiAffinity: soft

# Persistence disabled for local/dev
persistence:
  enabled: false

# Sysctl init container (needed for Elasticsearch)
extraInitContainers:
  - name: sysctl
    image: public.ecr.aws/docker/library/busybox:latest # Tiny & Fast
    command: ['sysctl', '-w', 'vm.max_map_count=262144']
    securityContext:
      privileged: true
      
# Probes
readinessProbe:
  enabled: true
livenessProbe:
  enabled: true

# Service
service:
  type: ClusterIP
  ports:
    restAPI: 9200
