replicas: 1

image: docker.elastic.co/kibana/kibana
imageTag: "8.5.1"
imagePullPolicy: IfNotPresent

elasticsearchHosts: "https://elasticsearch-master:9200"

# Use existing service account token
elasticsearchServiceAccountToken:
  secretName: kibana-kibana-es-token
  secretKey: token

# Do NOT use elastic user
elasticsearchUsername: ""
elasticsearchPassword: ""

elasticsearchSSL:
  enabled: true
  certificateAuthorities:
    - /usr/share/kibana/config/certs/ca.crt
  verificationMode: certificate

secretMounts:
  - name: elastic-ca
    secretName: elasticsearch-master-certs
    path: /usr/share/kibana/config/certs

kibanaConfig:
  kibana.yml: |
    server.name: kibana
    server.host: "0.0.0.0"
    elasticsearch.ssl.verificationMode: certificate
    monitoring.ui.container.elasticsearch.enabled: true

service:
  type: ClusterIP
  port: 5601

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi
