replicas: 1

image: docker.elastic.co/kibana/kibana
imageTag: "8.5.1"
imagePullPolicy: IfNotPresent

elasticsearchHosts: "https://elasticsearch-master:9200"

# Use existing service account token
elasticsearchServiceAccountToken:
  secretName: kibana-kibana-es-token
  secretKey: token

# Do NOT use elastic user
elasticsearchUsername: ""
elasticsearchPassword: ""

elasticsearchSSL:
  enabled: true
  certificateAuthorities:
    - /usr/share/kibana/config/certs/ca.crt
  verificationMode: certificate

secretMounts:
  - name: elastic-ca
    secretName: elasticsearch-master-certs
    path: /usr/share/kibana/config/certs

kibanaConfig:
  kibana.yml: |
    server.name: kibana
    server.host: "0.0.0.0"
    elasticsearch.ssl.verificationMode: certificate
    monitoring.ui.container.elasticsearch.enabled: true

service:
  type: ClusterIP
  port: 5601

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

lifecycle:
  postStart:
    exec:
      command:
        - bash
        - -c
        - |
          # Wait for Kibana to be up
          KB_URL=http://localhost:5601
          until [[ "$(curl -s -o /dev/null -w '%{http_code}' $KB_URL)" == "200" ]]; do sleep 1; done
          # Import dashboards
          curl -XPOST "$KB_URL/api/kibana/dashboards/import" \
               -H "Content-Type: application/json" \
               -H "kbn-xsrf: true" \
               -d '{"objects":[{"type":"index-pattern","id":"my-pattern","attributes":{"title":"my-pattern-*"}},{"type":"dashboard","id":"my-dashboard","attributes":{"title":"Look at my dashboard"}}]}'
