elasticsearchHosts: "https://elasticsearch-master:9200"

# TLS Configuration using your existing secret
elasticsearchCertificateSecret: elasticsearch-master-certs
elasticsearchCertificateAuthoritiesFile: ca.crt

# Authentication using the secret you just updated
elasticsearchCredentialSecret: elasticsearch-master-credentials

replicas: 1

extraEnvs:
  - name: "NODE_OPTIONS"
    value: "--max-old-space-size=1800"

image: "docker.elastic.co/kibana/kibana"
imageTag: "8.5.1"
imagePullPolicy: "IfNotPresent"

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1024Mi"
    cpu: "500m"

protocol: https
serverHost: "0.0.0.0"

# Using /api/status for health reporting
healthCheckPath: "/api/status"

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  runAsUser: 1000

# Required for the pre-install job to generate the service token
serviceAccount: ""
automountToken: true

httpPort: 5601

service:
  type: ClusterIP
  port: 5601
  httpPortName: http

updateStrategy:
  type: "Recreate"