listeners:
  client:
    containerPort: 9092
    protocol: PLAINTEXT
    name: CLIENT
    sslClientAuth: ""
  controller:
    name: CONTROLLER
    containerPort: 9093
    protocol: PLAINTEXT
    sslClientAuth: ""
  interbroker:
    containerPort: 9094
    protocol: PLAINTEXT
    name: INTERNAL
    sslClientAuth: ""
  external:
    containerPort: 9095
    protocol: PLAINTEXT
    name: EXTERNAL
    sslClientAuth: ""



overrideConfiguration:
  # Replication and ISR Settings
  default.replication.factor: "3" # Default replication factor for automatically created topics (number of copies of data).
  min.insync.replicas: "2" # Minimum number of in-sync replicas required for a producer to successfully write to a topic
  num.replica.fetchers: "2" # Number of threads to use for fetching data from other brokers.
  replication.quota.window.size.seconds: "2" # Time window for quota enforcement in seconds.
  # Topic Management
  message.max.bytes: "10485760" # Maximum size (in bytes) of a message that the broker will accept (10 MB).
  log.retention.ms: "604800000" # Time (in milliseconds) to retain log segments before deletion (7 days).

  # Consumer Group Setting
  offsets.topic.replication.factor: "3" # Replication factor for the internal topic that stores consumer group offsets.

  num.network.threads: "8" # Number of threads to handle network requests.
  num.io.threads: "16" # Number of threads to handle I/O operations.

  unclean.leader.election.enable: "false" 
  leader.imbalance.per.broker.percentage: "10" # Maximum allowed leader imbalance percentage per broker.

controller:

  replicaCount: 1

  resources:
    requests:
      memory: "2048Mi"
      cpu: "250m"
    limits:
      memory: "4096Mi"
      cpu: "500m"


externalAccess:
  enabled: false