listeners:
  client:
    containerPort: 9092
    protocol: PLAINTEXT
    name: CLIENT
    sslClientAuth: ""
  controller:
    name: CONTROLLER
    containerPort: 9093
    protocol: PLAINTEXT
    sslClientAuth: ""
  interbroker:
    containerPort: 9094
    protocol: PLAINTEXT
    name: INTERNAL
    sslClientAuth: ""
  external:
    containerPort: 9095
    protocol: PLAINTEXT
    name: EXTERNAL
    sslClientAuth: ""

image:
 repository: bitnamilegacy/kafka
 tag: 4.0.0-debian-12-r10
pullPolicy: IfNotPresent


kraftVersion: 1



overrideConfiguration:
  # Replication and ISR Settings
  default.replication.factor: "1" # Default replication factor for automatically created topics (number of copies of data).
  min.insync.replicas: "1" # Minimum number of in-sync replicas required for a producer to successfully write to a topic
  num.replica.fetchers: "1" # Number of threads to use for fetching data from other brokers.
  replication.quota.window.size.seconds: "1" # Time window for quota enforcement in seconds.
  # Topic Management
  message.max.bytes: "10485760" # Maximum size (in bytes) of a message that the broker will accept (10 MB).
  log.retention.ms: "604800000" # Time (in milliseconds) to retain log segments before deletion (7 days).

  # Consumer Group Setting
  offsets.topic.replication.factor: "1" # Replication factor for the internal topic that stores consumer group offsets.

  num.network.threads: "8" # Number of threads to handle network requests.
  num.io.threads: "16" # Number of threads to handle I/O operations.

  unclean.leader.election.enable: "false" 
  leader.imbalance.per.broker.percentage: "10" # Maximum allowed leader imbalance percentage per broker.

controller:

  replicaCount: 1
  heapOpts: -XX:InitialRAMPercentage=75 -XX:MaxRAMPercentage=75

  resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1024Mi"
    cpu: "500m"



  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    mountPath: /bitnami/kafka

metrics:
  jmx:
    enabled: true
    image:
      repository: bitnamilegacy/jmx-exporter 
      tag: 1.4.0-debian-12-r0
    kafkaJmxPort: 5555
  serviceMonitor:
    enabled: false
  prometheusRule:
    enabled: false

externalAccess:
  enabled: false