auth:
  enabled: false

listeners:
  client:
    protocol: PLAINTEXT

image:
  repository: bitnamilegacy/kafka

defaultInitContainers:
  prepareConfig:
    image:
      repository: bitnamilegacy/kafka

controller:
  replicaCount: 1

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1024Mi"
    cpu: "500m"

# --- Use pre-created secrets ---
kraft:
  clusterIdSecret: my-kafka-cluster-kraft
  force: true

existingSecrets:
  userSecrets:
    - my-kafka-cluster-user-passwords

# Prevent Helm from overwriting secrets
commonAnnotations:
  "helm.sh/resource-policy": keep
