# This is a Helm values file for deploying Elasticsearch using the Elastic Cloud on Kubernetes (ECK) operator.
version: 9.2.0
labels: {}
annotations: {}
auth: {}
monitoring: {}
transport: {}
http: {}
secureSettings: []
updateStrategy: {}
remoteClusters: {}
remoteClusterServer: {}
volumeClaimDeletePolicy: ''

nodeSets:
  - name: default
    count: 1
    config:
      node.store.allow_mmap: false
    podTemplate:
      spec:
        containers:
          - name: elasticsearch
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
ingress:
  enabled: false
  annotations: {}
  labels: {}
  pathType: Prefix
  hosts:
    - host: chart-example.local
      path: /

spec:
  nodeSets:
  - name: default
    podTemplate:
      spec:
        containers:
        - name: elasticsearch
          readinessProbe:
            exec:
              command:
              - bash
              - -c
              - /mnt/elastic-internal/scripts/readiness-probe-script.sh
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 12
            timeoutSeconds: 12
          env:
          - name: READINESS_PROBE_TIMEOUT
            value: "10"
  http:
    tls:
      selfSignedCertificate:
        disabled: true