---
version: 9.2.0
labels: {}
annotations: {}
auth: {}
monitoring: {}
transport: {}
http: {}
secureSettings: []
updateStrategy: {}
remoteClusters: {}
remoteClusterServer: {}
volumeClaimDeletePolicy: ''
nodeSets:
  - name: default
    count: 1
    config:
      node.store.allow_mmap: false
    podTemplate:
      spec:
        containers:
          - name: elasticsearch
            resources:
              limits:
                cpu: 1
                memory: 4Gi
              requests:
                cpu: 1
                memory: 4Gi
      ingress:
        enabled: false
    annotations: {}
    labels: {}
    pathType: Prefix
    hosts:
      - host: chart-example.local
        path: /
    tls:
      enabled: false
readinessProbe:
  exec:
    command:
      - bash
      - '-c'
      - /mnt/elastic-internal/scripts/readiness-probe-script.sh
  failureThreshold: 5
  initialDelaySeconds: 120
  periodSeconds: 60
  successThreshold: 1
  timeoutSeconds: 10
