image:
  keda:
    repository: ghcr.io/kedacore/keda
    tag: "2.19.0"
  metricsApiServer:
    repository: ghcr.io/kedacore/keda-metrics-apiserver
    tag: "2.19.0"
  webhooks:
    repository: ghcr.io/kedacore/keda-admission-webhooks
    tag: "2.19.0"
operator:
  replicaCount: 1
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app: keda-operator
        topologyKey: kubernetes.io/hostname
resources:
  metricServer:
    limits:
      cpu: 1
      memory: 100Mi
    requests:
      cpu: 1
      memory: 100Mi
  operator:
    limits:
      cpu: 1
      memory: 1000Mi
    requests:
      cpu: 1
      memory: 1000Mi
  webhooks:
    limits:
      cpu: 50m
      memory: 100Mi
    requests:
      cpu: 50m
      memory: 100Mi
prometheus:
  operator:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus
  webhooks:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus
