fullnameOverride: postgresql

auth:
  username: admin                # main database user
  database: chms                 # database to create
  existingSecret: postgresql     # the secret name your pod already uses
  secretKeys:
    adminPasswordKey: password           # key in secret for `admin` user
    userPasswordKey: ""                  # not using extra user
    replicationPasswordKey: postgres-password  # key in secret for replication / postgres superuser
  password: ""                  # ignored because existingSecret is set
  postgresPassword: ""          # ignored because existingSecret is set


architecture: standalone

primary:
  resourcesPreset: none

  persistence:
    enabled: true
    storageClass: local-path
    accessModes:
      - ReadWriteOnce
    size: 8Gi
    mountPath: /bitnami/postgresql

  service:
    type: NodePort

  networkPolicy:
    enabled: false

  pdb:
    create: false

readReplicas:
  replicaCount: 0

persistentVolumeClaimRetentionPolicy:
  enabled: true

extraObjects:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: postgres-local-backups
      namespace: postgresql
    spec:
      accessModes:
        - ReadWriteOnce
      storageClassName: local-path
      resources:
        requests:
          storage: 5Gi
