fullnameOverride: postgresql

auth:
  enablePostgresUser: true
  username: admin
  database: "appdb"                  # Must not be empty
  existingSecret: "postgresql-secrets"
  secretKeys:
    adminPasswordKey: postgres_password
    userPasswordKey: user_password

primary:
  resourcesPreset: none
  podSecurityContext:
    fsGroup: 1001
  persistence:
    enabled: true
    storageClass: local-path
    size: 8Gi
    mountPath: /bitnami/postgresql
  service:
    type: NodePort

# Disabling unnecessary features for local dev
readReplicas:
  replicaCount: 0
networkPolicy:
  enabled: false
pdb:
  create: false