fullnameOverride: postgresql

auth:
  enablePostgresUser: true

  username: "admin"
  database: "chms"

  existingSecret: "postgresql-secret"

  secretKeys:
    adminPasswordKey: postgres-password
    userPasswordKey: password

architecture: standalone

primary:
  resourcesPreset: "none"

  persistence:
    enabled: true
    storageClass: "standrad"
    accessModes:
      - ReadWriteOnce
    size: 5Gi

  service:
    type: NodePort

  networkPolicy:
    enabled: false

  pdb:
    create: false

readReplicas:
  name: read
  replicaCount: 1

