fullnameOverride: postgresql

auth:
  username: admin
  database: chms
  existingSecret: postgresql
  secretKeys:
    # Map both to ensure the container finds a valid password
    adminPasswordKey: password
    postgresPasswordKey: postgres-password 
    replicationPasswordKey: postgres-password       # ignored because existingSecret is set


architecture: standalone

primary:
  resourcesPreset: none

  persistence:
    enabled: true
    storageClass: local-path
    accessModes:
      - ReadWriteOnce
    size: 8Gi
    mountPath: /bitnami/postgresql

  service:
    type: NodePort

  networkPolicy:
    enabled: false

  pdb:
    create: false

readReplicas:
  replicaCount: 0

persistentVolumeClaimRetentionPolicy:
  enabled: true

extraObjects:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: postgres-local-backups
      namespace: postgresql
    spec:
      accessModes:
        - ReadWriteOnce
      storageClassName: local-path
      resources:
        requests:
          storage: 5Gi
