fullnameOverride: postgresql

auth:
  enablePostgresUser: true
  username: admin
  database: chms
  existingSecret: "postgresql-secrets" # This now exists!
  secretKeys:
    adminPasswordKey: postgres_password
    userPasswordKey: user_password

architecture: standalone

primary:
  persistence:
    enabled: true
    storageClass: local-path
    size: 8Gi
    mountPath: /bitnami/postgresql
  service:
    type: NodePort
